# 기타 무시 설정
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS 설정
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA 설정
.idea
*.iws
*.iml
*.ipr

# NetBeans 설정
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code 설정
.vscode/

# upload 폴더 포함 설정
!/src/main/webapp/upload/
!/src/main/webapp/upload/**
